body{
  font-family: Arial;
  background:#f1f5f9;
}

.box{
  max-width:400px;
  background:white;
  padding:20px;
  margin:40px auto;
  border-radius:10px;
}

input,select,button{
  width:100%;
  margin-top:8px;
  padding:10px;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  cursor:pointer;
}

.hide{ display:none; }

.item{
  display:flex;
  justify-content:space-between;
  background:#eef2ff;
  margin-top:6px;
  padding:6px;
  border-radius:6px;
}

.top{
  display:flex;
  justify-content:space-between;
}
